@font-face
    font-family: 'Futura'
    src: url('../fonts/Futura/FuturaDemiC.eot?#iefix') format('embedded-opentype'), url('../fonts/Futura/FuturaDemiC.woff') format('woff'), url('../fonts/Futura/FuturaDemiC.ttf') format('truetype')
    font-style: normal
    font-weight: normal

@font-face
    font-family: 'Futura'
    src: url('../fonts/Futura/FuturaMediumC.eot?#iefix') format('embedded-opentype'), url('../fonts/Futura/FuturaMediumC.woff') format('woff'), url('../fonts/Futura/FuturaMediumC.ttf') format('truetype')
    font-style: normal
    font-weight: 500
