.landing__intro
    height: 750px
    display: flex
    align-items: center
    justify-content: center
    margin-bottom: 100px
    background: url('../img/intro-bg.jpg') 50% 50% no-repeat
    background-size: cover
    position: relative
    &::before
        content: ''
        position: absolute
        top: 0
        right: 0
        bottom: 0
        left: 0
        z-index: 1
        background-color: rgba(0,0,0,0.6)

.landing__intro-content
    display: flex
    flex-direction: column
    align-items: center
    position: relative
    z-index: 2

.landing__intro-logo
    margin-bottom: 70px
    img
        width: 280px
        height: 147px

.landing__intro-title
    margin-bottom: 50px
    text-align: center
    color: #ffffff
    font-size: 36px
    line-height: 1.23
    font-weight: 600

.landing__intro-button
    padding: 15px 34px
    background-color: #ca2027
    color: #ffffff
    font-size: 14px
    white-space: nowrap
    font-weight: 700
    line-height: 1
    text-transform: uppercase
    &:hover
        color: #ffffff
        text-decoration: none
        background-color: darken(#ca2027, 5%)

.landing__features-wrapper
    display: grid
    grid-template-columns: repeat(4, 1fr)
    align-items: flex-start

.landing__features
    margin-bottom: 80px
    padding-bottom: 80px
    border-bottom: 1px solid rgba(202, 32, 39, 0.2)

.landing__tecnics-title
    margin-bottom: 60px
    font-size: 52px
    font-weight: 600
    color: #000000
    text-align: center

.landing__technics
    margin-bottom: 40px
    .nav-tabs
        margin-bottom: 60px
    .nav-item
        width: 25%
        text-align: center
        font-size: 20px
        font-weight: 600
        line-height: 1.35
    .nav-link
        color: #777777
        border: 0
        border-bottom: 3px solid #eeeeee
        &:hover
            border-bottom: 3px solid #eeeeee
        &.active
            color: #222222
            border-bottom: 3px solid #ca2027
            &:hover
                border-bottom: 3px solid #ca2027
    .carousel-indicators
        li
            width: 8px
            height: 8px
            margin: 0 6px
            border-radius: 50%
            background-color: rgba(34, 34, 34, 0.4)
            &.active
                background-color:  rgba(34, 34, 34, 1)
    .carousel-control-prev-icon
        background: none
        width: 20px
        height: 20px
        border-left: 3px solid #222222
        border-bottom: 3px solid #222222
        transform: rotate(45deg)
    .carousel-control-next-icon
        background: none
        width: 20px
        height: 20px
        border-left: 3px solid #222222
        border-bottom: 3px solid #222222
        transform: rotate(-135deg)

.technics-item__pricelist
    width: 100%
    thead
        border-bottom: 1px solid #000
    tbody
        tr:nth-of-type(n)
            background: #ffffff
        tr:nth-of-type(2n)
            background: #eeeeee
        tr
            border-bottom: 1px solid #d9d9d9
        td
            color: #4d4c4c
    td
        padding: 20px
        font-size: 18px
    th
        padding: 20px
        font-size: 18px

.landing__preorder
    margin-bottom: 135px
    padding: 135px 0
    background-color: #ca2027

.landing__preorder-title
    margin-bottom: 110px
    text-align: center
    font-size: 52px
    font-weight: 600
    color: #ffffff
    line-height: 1.23

.landing__preorder-pool
    display: grid
    grid-template-columns: repeat(2, 1fr)
    grid-gap: 40px

.landing__credit
    max-width: 820px
    margin: 0 auto

.landing__credit-title
    margin-bottom: 40px
    text-align: center
    font-size: 52px
    line-height: 1.23
    font-weight: 600
    color: #000000

.credit__input-desc
    display: block
    color: #3f4145
    font-size: 18px
    font-weight: 700

.credit__columns-wrapper
    display: flex
    & > div
        flex-basis: 50%
    & > div:first-of-type
        margin-right: 48px

.landing__credit-result
    margin-bottom: 30px
    padding: 10px 24px
    text-align: right
    color: #ffffff
    background-color: #424242

.landing__credit-desc
    font-size: 15px
    font-weight: 400
    color: rgba(255,255,255,.7)
    line-height: 1.6

.landing__credit-number
    margin-bottom: 20px
    color: #fff
    font-size: 21px
    font-weight: 700
    line-height: 1.14

.landing__credit-columns
    margin-bottom: 30px
    display: flex

.landing__credit-email
    flex-basis: 50%
    margin-right: 40px
    padding: 10px 5px 10px 30px
    background-color: #ca2027
    color: #ffffff
    font-size: 26px
    line-height: 1.55
    font-weight: 400

.landing__credit-doc
    flex-basis: 50%
    display: flex

.landing__credit-doc-image
    width: 70px
    height: 70px
    margin-right: 10px

.landing__credit-doc-text
    color: #000000
    font-size: 36px
    line-height: 1.55
    font-weight: 400
    a
        color: rgb(202, 32, 39)
        text-decoration: underline
        &:hover
            color: rgb(202, 32, 39)

.landings__contacts
    display: flex

.landings__contacts-map
    flex-basis: 50%

.landings__contacts-text
    flex-basis: 50%
    padding: 70px
    background-color: #000000
    font-size: 24px
    color: #ffffff
    font-weight: 300

.landing__questions
    padding-top: 90px
    padding-bottom: 45px
    background-color: #ca2027

.landing__questions-title
    margin-bottom: 45px
    text-align: center
    font-size: 52px
    color: #ffffff
    font-weight: 600
